# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List popular languages for Data Science
* List popular libraries for Data Science
* List popular Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. dplyr
2. stringr
3. ggplot
4. caret

__Data Science Tools__|
:-----:|
Jupyter |
Apache Zeppelin |
RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [8]:
print(200/60,"Hours")

3.3333333333333335 Hours

## Author
Tegar Dirgantara Lubis